.app-root {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-size: 1.6rem;

    .load-message {
        margin-top: 6rem;
    }
}
